<h2>Fill the word that you want to check to see if it's a palindrome</h2>
<form action='/result'>
  <div class="form-group">
    <label for="input">The word you'd like to check</label>
    <input id="input" name="input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Check!</button>
</form>
